label {white-space: nowrap;}
.left-block{margin-top: 25px; padding-top: 25px; border-top: 1px solid #777; font-weight: bold;}
.left-block div {display: flex; padding: 5px 10px 5px 5px; justify-content: space-between;}
.menu-value {color: #779;}
.checkbox-label{margin-left: 3em; position: relative; top: -2px;}
.switch-block {margin: 19px 0px 14px 0px;}
.header-block {color: #ddd;}
.nested {padding: 5px 10px 5px 10px; border: 1px solid #ddd;}
.mr {margin: 7px 0px 7px 0px !important;}
.spacer {text-align: center; font-weight: 300; color: #ddd; padding-bottom: 10px; margin: 15px 0px 15px 0px; border-bottom: 1px solid #ddd;}
.comment {margin: 1em 0;}
.fframe {position:absolute; top:0; left:0; width:100%; height:100%; border: none;}
.fframe_wrapper {position:relative;padding-top:75.00%;;background-color: #CCCCCC;} /* 56.25% == 16:9,  75% == 4:3 aspect ratio */
body {
  background-color: #333;
  background-image: url('embui_dark.svg'), url('embui_dark.webp');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 12px;
	background-color: transparent;
	border-radius: 12px;
	transition: all 0.3s;
	box-shadow: inset 5px 9px 9px #777;
	border: 1px solid #ccccccd9;
}

.switch::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 30px;
	border-radius: 30px;
	background-color: #AAA;
	border: 1px solid #ccccccd9;
	box-shadow: 5px 9px 9px #777;
	top: -7px;
	left: 2px;
	transition: all 0.3s;
}

.checkbox:checked + .switch::after {
	left : 20px;
	background-color: #1f8dd6;
}
.checkbox:checked + .switch {
	background-color: transparent;
}
.checkbox {
  display : none;
}
/* Sensor displays
 style inspired by https://github.com/viperet/esp8266-power-monitor */
 .display {
	text-align: center;
	background: #000;
	border-radius: 10px;
	border: 1px solid rgb(100, 100, 255);
	box-shadow: 0px 0px 2px 6px rgba(0,0,0,0.5);
	margin: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
  }
  .display > div {
	display: inline-block;
	margin: 0 auto;
	padding: 0.15em 0.1em 0 0.1em;
	color: #FFF;
	line-height: 1em;
	text-align: center;
	font-family: 'Courier Prime';
	font-size: 45px;
	background: linear-gradient(0deg, rgba(220,220,255,1) 25%, rgba(180,80,80,1) 50%, rgba(220,220,255,1) 75%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .display > div::before {
	font-family: sans-serif;
	font-size: 0.5em;
	padding: 0 1em 0 0.5em;
	display: inline-flex;
	-webkit-text-fill-color: rgb(220, 223, 93);
  }
  
  .display > div::after {
	font-family: sans-serif;
	font-size: 0.5em;
	height: 3vh;
	padding: 0 0 0 0.5em;
	-webkit-text-fill-color: rgb(192, 178, 178);
  }

  .select-editable {
	position:relative;
  }
  .select-editable select {
	position:relative;
  }
  .select-editable input {
	position: absolute;
	bottom: 0px;
	left: 1px;
	width: 85%;
	border: none !important;
	padding: .45em .8em .3em .8em !important;
  }
  .select-editable select:focus, .select-editable input:focus {
	outline:none;
  }
  .image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
  }
  .image img {
	height: 100%;
	width: inherit;
  }

  .button--loading {
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 2.2em;
    padding: 0;
    display: flex;
    justify-content: center;
}

.button--loading::before {
    content: "";
    width: 1.415em;
    height: 1.415em;
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    text-align: left;
    animation: button-loading-spinner 1s linear infinite reverse;
    margin: 2px;
}

.button__text {
    transition: all 0.2s;
    margin-left: 0.5em;
}

@-webkit-keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

/*!
Round controls
*/
.pure-g [class*=pure-u]{
	font-family:sans-serif;
	font-weight: bold;
	font-style: italic;
}
.pure-button{
	/* display:inline-block; */
	/* line-height:normal; */
	white-space:nowrap;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 100%;
	/* padding: .4375em  1em; */
	color: #222;
	background-color: #999;
	border: 1px solid #ccccccd9;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 5px 9px 9px #777;
}
.pure-form input[type=color],
.pure-form input[type=date],
.pure-form input[type=datetime-local],
.pure-form input[type=datetime],
.pure-form input[type=email],
.pure-form input[type=month],
.pure-form input[type=number],
.pure-form input[type=password],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=text],
.pure-form input[type=time],
.pure-form input[type=url],
.pure-form input[type=week],
.pure-form select,
.pure-form textarea{
	padding: .375em 1em;
	display: inline-block;
	border: 1px #777;
	-webkit-box-shadow: inset 5px 7px 9px #777;
	box-shadow: inset 5px 7px 9px #777;
	border-radius: 10px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #d6e2f4;
}
.pure-form-stacked input[type=color],
.pure-form-stacked input[type=date],
.pure-form-stacked input[type=datetime-local],
.pure-form-stacked input[type=datetime],
.pure-form-stacked input[type=email],
.pure-form-stacked input[type=file],
.pure-form-stacked input[type=month],
.pure-form-stacked input[type=number],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=search],
.pure-form-stacked input[type=tel],
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=time],
.pure-form-stacked input[type=url],
.pure-form-stacked input[type=week],
.pure-form-stacked label,
.pure-form-stacked select,
.pure-form-stacked textarea{
	display:block;
}
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #0078e7;
    color: #fff;
}
.select-editable input{
	font-family:sans-serif;
	font-weight: bold;
	font-style: italic;
}
.pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
    vertical-align: bottom;
}
